@import url(http://fonts.googleapis.com/css?family=Roboto:100,400);

html, body{
    overflow: hidden;
}

body{
}

#wrapper{
  position: absolute;
  top: 50vh;
  margin-top: -25vh;
  left: 0;
  width: 100%;
}

#selected{
  position: fixed;
}

#nav{
  width: 100vw;
  /* margin-left: -50vw; */
  padding-top: 35vmin;
  text-align: center;
}

#nav button{
  margin-left: 1vw;
  margin-right: 1vw;
}

.options-container{
  text-align: center;
  display: block;
  width: 100%;
  height: 48vh;
  /* overflow: hidden; */
  margin: auto;
  /* padding-left: 50vw; */
  font-size: 4vmin;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.option{
  /* margin: 32px; */
  transition: margin-left 0.5s;
  margin-left: 80vw;
  display: none;
  /* margin-bottom: -10%; */
  height: 25vh;
  width: 60vw;
  position: absolute;
  /* width: 24vw; */
  border-radius: 5px;
  /*background: #3498DB;*/
}

.option.active{
  margin-left: 20vw;
}

.option.left{
  margin-left: -40vw;
}

.option:nth-child(1){
  display: none !important;
}

.budget-slider-value{
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 8vmin;
  margin: 3vh;
  color: #1ABC9C;
  transition-duration: 0.25s;
}

.budget-slider{
  width: 120vh;
  max-width: 80vw;
  transition-duration: 0.25s;
}

.option-slider{
  width: 80%;
  margin: 0 auto 1vmax auto;
  transition-duration: 0.25s;
}

.option-value{
  margin-bottom: 5px;
}

#heading{
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 8vmin;
  /* margin-bottom:4vh; */
  transition-duration: 0.25s;
}

input[type=range]{
  -webkit-appearance: none;
  background: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 20px;
  background: #1ABC9C;
  border: none;
  border-radius: 3px;
}

input[type=range]::-ms-track {
  height: 20px;
  background: #1ABC9C;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-track {
  height: 20px;
  background: #1ABC9C;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 100%;
  width: 28px;
  border-radius: 15%;
  background: #555;
  position: relative;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  border: none;
  height: 100%;
  width: 28px;
  border-radius: 15%;
  background: #555;
  position: relative;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 100%;
  width: 28px;
  border-radius: 15%;
  background: #555;
  position: relative;
  cursor: pointer;
}

input[type=range]:focus {
  outline: none;
  &::-webkit-slider-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #555;
    padding: 5px 10px;
    border: 2px solid #555;
  }
  &::-ms-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #555;
    padding: 5px 10px;
    border: 2px solid #555;
  }
  &::-moz-range-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #555;
    padding: 5px 10px;
    border: 2px solid #555;
  }
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #1ABC9C;
}

input[type=range]:focus::-ms-track {
  background: #1ABC9C;
}

input[type=range]:focus::-moz-range-track {
  background: #1ABC9C;
}

.btn-modern {
  text-decoration: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 6vmin;
  transition-duration: 0.25s;
  background-color: rgba(255, 255, 255, 0.4);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: 0px none;
  padding: 10px 10vmin;
  border-radius: 5px;
  border: 1px solid #16a085;
  color: #16a085;
  transition: 0.5s;
}

.btn-modern.disabled {
  color: #95A5A6;
  border-color: #95A5A6;
  pointer-events: none;
  transition: color 0.5s, border-color 0.5s;
}

.btn-modern:hover {
  border: 1px solid #16a085;
  background-color: #16a085;
  color: white;
}
