{% extends 'base.html' %} {% block content %}
<div class="container">
  <form action="" method="POST" id="form-budget">
    <h3>Hi,<br>start by selecting your budget.</h3>
    <input type="range" name="budget" min="300" max="2000" value="900" step="50" class="budget-slider">
    <h3 class="budget-slider-value"></h3>
    <input type="submit" value="Confirm" class="btn btn-wide btn-primary btn-lg">
  </form>
  <script>
    var range = $('.budget-slider'),
      value = $('.budget-slider-value');
    value.html(range.attr('value') + "€");
    range.on('input', function() {
      value.html(this.value + "€");
    });
  </script>
</div>
{% endblock %}
