{% extends 'admin.html' %} {% block content %}

<script>$('#nav-laptops').addClass('active')</script>

<div class="container">
  <div class='row actions-bar'>
  <h2>Laptops</h2>
  <a href="laptops/add" class="btn btn-wide btn-lg btn-primary">Add laptop</a>
  <div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Model</th>
          <th>Screen size</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for laptop in laptops %}
        <tr>
          <td>{{ laptop.id }}</td>
          <td><a href='laptops/{{ laptop.id }}/edit'>{{ laptop.brand }} {{ laptop.model }}</a></td>
          <td>{{ laptop.size }}</td>
          <td>{{ laptop.price }}</td>
        <td>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
