{% extends 'base.html' %} {% block content %}
<div class='container'>
  <form id='form-login' action="" method='POST'>
    {{ form.hidden_tag() }}
    <div class="login-form">
      <h3> Please log in.</h3>
      <div class="form-group">
        {{ form.user(placeholder='Username', class='form-control login-field', id='login-name') }}
        <label class="login-field-icon fui-user" for="login-name"></label>
      </div>

      <div class="form-group">
        {{ form.password(placeholder='Password', class='form-control login-field', id='login-pass') }}
        <label class="login-field-icon fui-lock" for="login-pass"></label>
      </div>

      <div class="form-group">
        <label class="checkbox" for="remember_me">
          {{ form.remember_me(**{'data-toggle':'checkbox'}) }}
        </label><span class="checkbox-label">Remember me?</span>
      </div>
      <a onclick="$('#form-login').submit()" class="btn btn-primary btn-lg btn-block" href="#">Log in</a>
    </div>
  </form>
</div>
<script>
$(':checkbox').radiocheck();
</script>
{% endblock %}
