{% extends 'base.html' %} {% block content %}
<div class='container'>
  <form id='form-login' action="" method='POST'>
    {{ form.hidden_tag() }}
    <div class="login-form">
      <h3> Please log in.</h3>
      {% include 'user_field.html' %}

      {% include 'password_field.html' %}

      <div class="form-group">
        <label class="checkbox" for="remember_me">
          {{ form.remember_me(**{'data-toggle':'checkbox'}) }}
        </label><span class="checkbox-label">Remember me?</span>
      </div>
      <input type="submit" value="Log in" class="btn btn-primary btn-lg btn-block">
    </div>
  </form>
</div>
<script>
$(':checkbox').radiocheck();
{% for error in form.password.errors %}
  $('#login-pass').attr('data-title', '{{ error}}')
  $('#login-pass').tooltip('show')
  $('#login-pass').focus(function(){ $('#login-pass').tooltip('hide').parent().removeClass('has-error');})
{% endfor %}
{% for error in form.user.errors %}
  $('#login-name').attr('data-title', '{{ error}}')
  $('#login-name').tooltip('show')
  $('#login-name').focus(function(){ $('#login-name').tooltip('hide').parent().removeClass('has-error');})
{% endfor %}
</script>
{% endblock %}
