<form id='form-add-user' action="" method='POST'>
  {{ form.hidden_tag() }}
  <div class="login-form">
    <h3>Modify user</h3>
    {% include 'user_field.html' %}

    {% include 'password_field.html' %}

    {% include 'permissions_field.html' %}

    <div class="form-group">
      <label class="checkbox" for="edit-form-remove">
        {{ form.remove(**{'data-toggle':'checkbox'}) }}
      </label><span class="checkbox-label">Remove</span>
    </div>

    <a id='submit-btn' onclick="$('#form-add-user').submit()" class="btn btn-primary btn-lg btn-block" href="#">Confirm</a>
  </div>
</form>
<script>$('#login-pass').attr('placeholder', 'Password (Leave empty to keep old)')</script>
