{% extends 'admin.html' %} {% block content %}
<script>
  $('#nav-users').addClass('active')
</script>
<div class="container">
  {% include 'user_edit_form.html' %}
</div>
<script>
$('#user-permissions').val({{ editing.permissions }})
$(':checkbox').radiocheck();
$(':checkbox').on('change.radiocheck', function() {
  $('#submit-btn').toggleClass('btn-danger')
});
{% for error in form.password.errors %}
  $('#login-pass').attr('data-title', '{{ error}}')
  $('#login-pass').tooltip('show')
  $('#login-pass').focus(function(){ $('#login-pass').tooltip('hide').parent().removeClass('has-error');})
{% endfor %}
{% for error in form.user.errors %}
  $('#login-name').attr('data-title', '{{ error}}')
  $('#login-name').tooltip('show')
  $('#login-name').focus(function(){ $('#login-name').tooltip('hide').parent().removeClass('has-error');})
{% endfor %}
</script>
{% endblock %}
